html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: inherit;
}

.namespaces {
    background-color: #373a36;
    z-index: 10;
    transition: box-shadow 100ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.15)
}

.namespace {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #e6e2dd;
    margin: 15px 0;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
}

.namespace:hover {
    background-color: white;
}

.namespaces:hover {
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.3)
}

.rooms {
    background-color: #ab7361;
    z-index: 5;
    border-right: 1px solid #905f3f;
    padding: 15px;
    transition: background-color 200ms ease-in-out;
}

.rooms:hover {
    background-color: #bc7861;
}

.chat-panel {
    background-color: #e6e2dd;
    padding: 15px;
}

#user-message {
    height: 60px;
    background-color: #353b48;
    border-radius: 6px;
    padding: 18px;
    font-size: 18px;
    color: white;
    border: 0;
    outline: 0;
    width: 100%;
    line-height: 40px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    caret-color: #D48166;
}

.searchbar {
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.3);
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 300ms linear;
}

.searchbar:hover > .search_input {
    width: 200px;
    caret-color: #D48166;
    transition: width 300ms linear;
}

.searchbar:focus-within > .search_input {
    width: 200px;
}

.searchbar:hover > .search_icon {
    background: white;
    color: #D48166;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid white;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.room-list {
    list-style: none;
    padding: 6px;
    margin: 0;
}

.room {
    cursor: pointer;
}

.room:hover {
    font-weight: 500;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    color: #3B4048;
    max-height: calc(96% - 110px);
    overflow-y: scroll;
    border: 1px solid #ac73602e;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#messages li .user-message {
    width: 100%;
    margin: 0 10px;
    color: #222;
}

#messages li .user-name-time span {
    color: #ABB2BF;
}

#messages li {
    padding: 10px;
    display: flex;
    align-items: stretch;
    border: 1px solid #d38066;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 10px;
}

small {
    padding: 0 4px;
}

.overflow-h {
    overflow: hidden;
}

.user-name-time {
    display: flex;
    justify-content: space-between;
}

.user-image > img {
    border-radius: 50%;
}

.user-name {
    font-weight: 500;
}